@{
    Layout = null;
}

<!DOCTYPE html>

<html>
   
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="@Url.Content("~/Scripts/react.js")"></script>
        <script src="@Url.Content("~/Scripts/react-dom.js")"></script>
        <script src="https://cdn.jsdelivr.net/pubsubjs/1.4.2/pubsub.min.js"></script>
   
         <link rel="stylesheet" type="text/css" href="Styles/ReactDataGridTest.css")>
    </head>
    <body>
        <div id="content"></div>
        <script src="@Url.Content("~/Scripts/ReactDataGrid.jsx")"></script>
        <script src="@Url.Content("~/Scripts/ReactDataGridTester.jsx")"></script>
        AAA
    </body>
</html>
