.table thead {
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 14px;
}

.table thead tr th {
    border: 0;
}

.table  thead  tr th[sortField] {
    cursor: pointer;
}
    
.table  tbody tr td {
    border: 0;
    vertical-align: middle;
}
    
.table-striped tbody tr {
    background-color: gray;
}
        
.table-striped tbody tr:nth-of-type(odd) {
    background-color:#D2D2D2
}
        
.table-striped tbody tr.selected {
    background-color: #4ECEA3;
    color: white;  
}

.spinner {
    background-image: url(/Images/spinner.gif);
    background-repeat: no-repeat;
    z-index: 1000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.8);
    background-position: 15% center; 
}

.reactDataGrid {
    position: relative;
    min-height: 64px;
}
